<div class="container">
  <!-- Remarks BY JEAN - 06-10-2022/12:03 -->
  <!-- Container has to be only one for a whole page -->
  <!-- Row based on need one row nested columns and row within row can be used -->
  <!-- Form should be used based on the need and cumilative of controls -->

  <div class="container">
    <div class="card">
      <div class="cardtitle1">
        RESERVATION DE PLACES DE CRECHE POUR VOTRE ENFANT
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <div class="form-group">
        <form>
          <label for="Demande">
            <select>
              <option></option>
              <option>Parent</option>
              <option>Enterprise</option>
              <option>Reservatire</option>
            </select>
          </label>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" />
            <label class="form-check-label"
              >Enfant en situation de handicap au sein du foyer</label
            >
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <div class="cardtitle2">ENTRER LES DETAILS DE I'enfant</div>
      <div class="row">
        <form class="col-sm">
          <input
            class="form-control form-control"
            type="text"
            placeholder="Selectionner"
          />
        </form>
        <form class="col-sm">
          <input
            class="form-control"
            type="text"
            placeholder="Entrer le texte"
          />
        </form>
        <div class="col-sm">
          <button type="button" class="btn btn-outline-success">
            + AJOUTER UN JUMEAU OU UNE JUMELLE
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-sm-12">
    <div class="card">
      <form>
        <label for="family">
          <select>
            <option>Situation familiale</option>
            <option>En couple</option>
            <option>Monoparentale</option>
            <option>Representant legal</option>
          </select>
        </label>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="alert alert-primary" role="alert">
      ! Veuillez fournir une adresse email valide, car celle-ci est necessaire
      pour le suivi de votre demande.
    </div>
  </div>

  <div class="container">
    <div class="card">
      <div class="cardtitle3">Autres Informations</div>
      <div class="row">
        <form class="col-sm">
          <input
            class="form-control form-control"
            type="text"
            placeholder="Entrer le montant"
          />
        </form>
        <form class="col-sm">
          <input
            class="form-control"
            type="text"
            placeholder="Entrer un nombre"
          />
        </form>
        <form class="col-sm">
          <select>
            <option>Est-il garde actuellement?</option>
            <option>Oui</option>
            <option>Non</option>
          </select>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <div class="cardtitle4">Periode de garde</div>
      <div class="row">
        <form class="col-sm">
          <select>
            <option>Choisissez la periode</option>
            <option>Annuelle</option>
            <option>Ponctuelle</option>
          </select>
        </form>
        <form class="col-sm">
          <input
            class="form-control"
            type="text"
            placeholder="Entrer un nombre"
          />
        </form>
      </div>
      <div class="alert alert-primary">
        <<Sous reserves de places disponibles, le contract peut etre reconduit
        jusqu'a I'ecole de I'enfant>>
      </div>
    </div>
  </div>

  <div class="container col-sm-12">
    <div class="card">
      <form>
        <label for="Selection">
          <form class="col-sm">
            <select>
              <option>Les jours de garde souhaites en semaine</option>
              <option>LUNDI</option>
              <option>MARDI</option>
              <option>MERCREDI</option>
              <option>JEUDI</option>
            </select>
          </form>
        </label>
      </form>
      <div class="textarea col-sm-12">
        <form>
          <label for="remarks">
            <textarea
              type="text"
              placeholder="Informations Complementaires"
            ></textarea>
          </label>
        </form>
      </div>
      <div class="Final">
        <span class="badge badge-pill badge-warning">Annuler</span>
        <span class="badge badge-pill badge-success">Envoyer</span>
      </div>
    </div>
  </div>
</div>
