<div class="container py-3">
<!-- Remarks BY JEAN - 06-10-2022/12:03 -->
<!-- Container has to be only one for a whole page -->
<!-- Row based on need one row nested columns and row within row can be used -->
<!-- Form should be used based on the need and cumilative of controls -->

<div class="card">
  <div class="cardheader col-12 py-3">
    <h6>RESERVATION DE PLACES DE CRECHE POUR VOTRE ENFANT</h6>
  </div>
  <div class="card body">
    <form>
      <div class="col-12 py-3">
        <div class="row border mb-3">
          <div class="col md-3">
            <div class="py-3">
              <select>
                <label for="active">Demande</label>
                <option>Parent</option>
                <option>Enterprise</option>
                <option>Reservataire</option>
                <span class="toggle"></span>
              </select>
            </div>
          </div>
          <div class="col-md-8">
            <div class="py-3">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" />
                <label for="chek-form"
                  >Enfant en situation de handicap au sein du foyer</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 py-3">
        <div class="row border mb-3">
          <div class="col-12" style="margin-top= -10px">
            <div class="badge badge-info">
              <h6>Entrer les details de I'enfant</h6>
            </div>
          </div>
          <div class="col-4 py-3">
            <input class="title" placeholder="Selectionner" />
          </div>
          <div class="col-4 py-3">
            <input class="title2" placeholder="Entrer le texte" />
          </div>
          <div class="col-4 py-3">
            <span class="badge badge-pill badge-success"
              >+AJOUTER UN JUMEAU OU UNE JUMELLE</span
            >
          </div>
        </div>
      </div>

      <div class="col-12 py-3">
        <div class="row border mb-3">
          <div class="col-6 py-3">
            <select>
              <label for="active"></label>
              <option>Situation familale</option>
              <option>Encouple</option>
                <option>Monoparentale</option>
                <option>Representant legal</option>
                <span class="toggle"></span>
              </select>
            </div>
          </div>
        </div>

        <div class="col-12 py-3">
          <div class="alert alert-primary">
            <h6>
              !!Veuilez fournir une adresse email valide, car celle-ci est
              necessaire pour le suivi de votre demande.
            </h6>
          </div>
        </div>

        <div class="col-12 py-3">
          <div class="row border mb-3">
            <div class="col-12" style="margin-top= -10px">
              <div class="badge badge-info">
                <h6>Autres informations</h6>
              </div>
            </div>
            <div class="col-4 py-3">
              <input class="title" placeholder="Entrer le montant" />
              <h6>Montant en euros</h6>
            </div>
            <div class="col-4 py-3">
              <input class="title2" placeholder="Entrer un nombre" />
            </div>
            <div class="col-3 py-3">
              <select>
                <label for="active"></label>
                <option>Est-il garde actuellement?</option>
                <option>Oui</option>
                <option>Non</option>
                <span class="toggle"></span>
              </select>
            </div>
          </div>
        </div>

        <div class="col-12 py-3">
          <div class="row border mb-3">
            <div class="col-12" style="margin-top= -10px">
              <h6>Periode de garde</h6>
            </div>
            <div class="col-4 py-3">
              <select>
                <label for="active"></label>
                <option>Choisissez la periode</option>
                <option>Annuelle</option>
                <option>Ponctuelle</option>
              </select>
            </div>
            <div class="col-4 py-3">
              <input class="title" placeholder="Entrer un nombre" />
            </div>

            <div class="col-12 py-3">
              <div class="alert alert-primary">
                <<Sous reserves de places disponibles, le contract peut etre
                reconduit jusqu'a I'entree a I'ecole de I'enfant>>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 py-3">
          <div class="row border mb-3">
            <div class="col-4 py-3">
              <select>
                <label for="active"></label>
                <option>Les jours de garde souhaites en semaine</option>
                <option>All The Below</option>
                <option>LUNDI</option>
                <option>MARDI</option>
                <option>MERCREDI</option>
                <option>JEUDI</option>
                <span class="toggle"></span>
              </select>
            </div>
          </div>
        </div>

        <div class="col-12 py-3">
          <textarea placeholder="Information Complementaires"></textarea>
        </div>

        <div class="col-12 py-3">
          <span class="badge badge-pill badge-warning">Annuler</span>
          <span class="badge badge-pill badge-success">Envoyer</span>
        </div>
      </form>
    </div>
  </div>
</div>
